<a href="https://colab.research.google.com/github/Hussainaquib/Python-Programs/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# find length of string
list = [1,2,3,4,5]
print(len(list))

5

In [ ]:
# find length of string
n = len([1,2,3,4,5])
print(n)

5

In [ ]:
# find length of string
n = []
n.append(1)
n.append(2)
n.append(3)
n.append(4)
n.append(5)
print(len(n))

5

In [ ]:
# find length of string
list = [1,2,3,4,5]
count = 0
for i in list:
  count += 1
print(str(count))

5

In [ ]:
#program exist in list or not
list = [1,2,3,4,5,6]
list.remove(7)
print(list)

ValueError: ignored

In [ ]:
# program to clear a list
list = [1,2,3,4,5,6]
list.clear()
print(list)

[]

In [ ]:
# program to reverse the string
list = [1,2,3,4,5,6]
list.reverse()
print(list)

[6, 5, 4, 3, 2, 1]

In [ ]:
# program to find sum of element in the list
l1 = [1,2,3,4,5,6]
sum = l1[0]+l1[1]+l1[2]+l1[3]+l1[4]+l1[5]
print(sum)

21

In [ ]:
# program to multiply all elements in the list
l1 = [1,2,3,4,5,6]
multiply = l1[0]*l1[1]*l1[2]*l1[3]*l1[4]*l1[5]
print(multiply)

720

In [ ]:
# program to find smallest element in the list
l1 = [2,4,6,7,3,4,9]
l1.sort()
print(l1.pop(0))

2

In [ ]:
# program to find largest element in the list
l1 = [2,4,6,7,3,4,9]
l1.sort()
print(l1.pop(len(l1)-1))

9

In [ ]:
# program to find 2nd largest element in the list
l1 = [2,4,6,7,3,4,9]
l1.sort()
print(l1.pop(len(l1)-2))

7

In [ ]:
# program to print all even number in the list
for i in range(4,15,2):
  print(i)

4
6
8
10
12
14

In [ ]:
# program to print all even number in the list
start = int(input("Enter a start value:"))
end = int(input("Enter a end value:"))
for i in range(start,end+1):
  if(i%2==0):
    print(i)

Enter a start value:4
Enter a end value:15
4
6
8
10
12
14

In [ ]:
#program to print all odd number in the range
start = int(input("Enter a start value:"))
end = int(input("Enter a end value:"))
for i in range(start,end+1):
  if(i%2!=0):
    print(i)

Enter a start value:4
Enter a end value:15
5
7
9
11
13
15

In [ ]:
# program to print all positive number in the list
list = [3,-3,5,-9,6,5,-2]
for num in list:
  if num>0:
    print(num)

3
5
6
5

In [ ]:
# program to print negative number in the list
list = [3,-3,5,-9,6,5,-2]
for num in list:
  if num<0:
    print(num)

-3
-9
-2

In [ ]:
# program to all posive number in the range
start = int(input("Enter a start value"))
end = int(input("Enter a end value:"))
for i in range(start,end+1):
  if(i>0):
    print(i)

Enter a start value-5
Enter a end value:5
1
2
3
4
5

In [ ]:
# program to all negative number in the range
start = int(input("Enter a start value"))
end = int(input("Enter a end value:"))
for i in range(start,end+1):
  if(i<0):
    print(i)

Enter a start value-5
Enter a end value:5
-5
-4
-3
-2
-1

In [ ]:
#remove multiple elements in the list
l1 = [1,3,5,6,'two','two',6]
del l1[3:5]
print(l1)

[1, 3, 5, 'two', 6]

In [ ]:
# remove even number in list
list = [11,5,17,18,23,50]
list = [elen for elen in list if elen%2 != 0]
print(*list)

11 5 17 23

In [ ]:
# remove empty list from the list
test_list = [5,6,[],3,[],[],9]
print(f"The original list  is : {test_list}")
res = [ele for ele in test_list if ele != []]
print(f"List after empty list remove: {res}")

The original list  is : [5, 6, [], 3, [], [], 9]
List after empty list remove: [5, 6, 3, 9]

In [ ]:
# print evevn number in the list
a = int(input("Enter a end value:"))
n = [x for x in range(a) if x%2 == 0]
print(n)

Enter a end value:10
[0, 2, 4, 6, 8]

In [ ]:
# print odd number in the list
a = int(input("Enter a end value:"))
n = [x for x in range(a) if x%2 == 1]
print(n)

Enter a end value:10
[1, 3, 5, 7, 9]

In [ ]:
#cloning or copying a list
#by using slicing
def cloning(li1):
  li_copy = li1[:]
  return li_copy
li1 = [4,8,2,10,15,18]
li2 = cloning(li1)
print(f"original list : {li1}")
print(f"After cloning : {li2}")

original list : [4, 8, 2, 10, 15, 18]
After cloning : [4, 8, 2, 10, 15, 18]

In [ ]:
# break a list into chunk of size N 
l = [1,2,3,4,5,6,7,8,9]
n = 4
x = [l[i:i+n] for i in range(0,len(l),n)]
print(x)

[[1, 2, 3, 4], [5, 6, 7, 8], [9]]

In [ ]:
# count the occurence of element in list
n = int(input("Enter a number do you want to search:"))
l = [1,2,3,4,5,2,7,2,9]
print(f"The occurence of {n} in given list is {l.count(n)}")

Enter a number do you want to search:7
The occurence of 7 in given list is 1

In [ ]:
# remove the empty tuple from a list
l = [1,2,3,4,5,(),7,(),9,(),4,44,()]
for i in l:
  if(l == ()):
    l.remove(())
print(l)
#I GET INCORRECT OUTPUT

[1, 2, 3, 4, 5, (), 7, (), 9, (), 4, 44, ()]

In [ ]:
# remove empty tuple from a list
def remove(tuples):
  tuples = filter(None,tuples)
  return tuples
tuples = [(),('ram','15','8'),(),('laxman','sita'),('krishna','akbar','45'),(","),()]
print(remove(tuples))
#I GET OUTPUT

<filter object at 0x7fc0b26bdf90>

In [ ]:
# print duplicate from a list of integer
l = [4,4,8,9,6,8,3,9,2,4,3,3,0]
new = []
for i in l:
  n = l.count(i)
  if n>1:
    if new.count(i) == 0:
      new.append(i)
print(*new)

4 8 9 3

In [ ]:
# program to find commutative sum of list
l = [10,20,30,40,50]
new = []
n1 = l[0]
n2 = l[0]+l[1]
n3 = l[0]+l[1]+l[2]
n4 = l[0]+l[1]+l[2]+l[3]
n5 = l[0]+l[1]+l[2]+l[3]+l[4]
new.append(n1)
new.append(n2)
new.append(n3)
new.append(n4)
new.append(n5)
print(new)

[10, 30, 60, 100, 150]

In [ ]:
# program to find commutative sum of list
l = [10,20,30,40,50]
new = []
j=0
for i in range(0,5):
  j+=l[i]
  new.append(j)
print(new)

[10, 30, 60, 100, 150]