<a href="https://colab.research.google.com/github/Hussainaquib/Python-Programs/blob/main/PatternPrint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Heart Shape**

In [ ]:
for row in range(6):
  for col in range(7):
    if (row==0 and col%3 !=0) or (row==1 and col%3==0) or (row-col == 2) or (row+col == 8):
      print("*",end="")
    else:
      print(" ",end="")
  print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [ ]:
num=int(input("enter the rows:"))
for i in range(1,num+1):
  for j in range(1,i+1):
      print("*",end=" ")
  print()

enter the rows:5
*
* *
* * *
* * * *
* * * * *

In [ ]:
for row in range(7):
  for col in range(9):
    if (row==0 and col%4 !=0) or (row==1 and col%4==0) or (row-col == 2) or (row+col == 10):
      print("*",end="")
    else:
      print(" ",end="")
  print()

 *** ***
*   *   *
*       *
 *     *
  *   *
   * *
    *

**Alphabet "I"**

In [ ]:
for row in range(7):
  for col in range(5):
    if col==2 or ((row==0 or row==6) and col!=2):
      print("I",end="")
    else:
      print(end=" ")
  print()

IIIII
  I
  I
  I
  I
  I
IIIII

**Alphabet "U"**

In [ ]:
for row in range(7):
  for col in range(5):
    if ((col==0 or col==4) and row != 6) or (row==6 and (col>0 and col<4)):
      print("U",end="")
    else:
      print(end=" ")
  print()

U   U
U   U
U   U
U   U
U   U
U   U
 UUU

**Print the house**

In [ ]:
for row in range(9):
    for col in range(33):
      if((col==8 and row>=5) or 
         (col==9 and row>=5) or 
         (col==10 and row>=5) or 
         (col==11 and row>=5) or 
         (col==12 and row>=5) or 
         (col==19 and 3<row<6) or 
         (col==20 and 3<row<6) or 
         (col==21 and 3<row<6) or 
         (col==22 and 3<row<6) or 
         (col==23 and 3<row<6) or 
         (col==24 and 3<row<6) or
         (col==25 and 3<row<6) or
         (row <=2 and col==0) or
         (row <=1 and col==1) or
         (row <=0 and col==2) or
         (row<=2 and col==32) or
         (row<=1 and col==31) or
         (row<=0 and col==30) or
         (col==32 and row>=4) or
         (col==31 and row>=4) or
         (col==0 and row>=4) or
         (col==1 and row>=4)):
        print(" ",end="")
      else:
        print("*", end="")
    print()

   ***************************
  *****************************
 *******************************
*********************************
  *****************       *****
  ******     ******       *****
  ******     ******************
  ******     ******************
  ******     ******************

**Print the Taj Mahal**

In [ ]:
for row in range(25):
    for col in range(150):
      if((col==0 and row<=22) or (col==1 and row<=22) or (col==148 and row<=22) or (col==149 and row<=22) or
         (col==7 and row<=22) or (col==8 and row<=22) or (col==9 and row<=22) or (col==10 and row<=22) or (col==11 and row<=22) or
         (col==138 and row<=22) or (col==139 and row<=22) or (col==140 and row<=22) or (col==141 and row<=22) or (col==142 and row<=22) or

         (col==15 and row<=22) or (col==16 and row<=22) or (col==17 and row<=22) or (col==18 and row<=22) or (col==19 and row<=22) or (col==20 and row<=22) or (col==21 and row<=22) or (col==22 and row<=22) or (col==23 and row<=22) or (col==24 and row<=22) or (col==25 and row<=22) or (col==26 and row<=22) or (col==27 and row<=22) or (col==28 and row<=22) or 
         (col==121 and row<=22) or (col==122 and row<=22) or (col==123 and row<=22) or (col==124 and row<=22) or (col==125 and row<=22) or (col==126 and row<=22) or (col==127 and row<=22) or (col==128 and row<=22) or (col==129 and row<=22) or (col==130 and row<=22) or (col==131 and row<=22) or (col==132 and row<=22) or (col==133 and row<=22) or (col==134 and row<=22) or

         (col==29 and row<=11) or (col==30 and row<=11) or (col==31 and row<=11) or (col==32 and row<=11) or (col==33 and row<=11) or (col==34 and row<=11) or (col==35 and row<=11) or (col==36 and row<=11) or (col==37 and row<=11) or (col==38 and row<=11) or (col==39 and row<=11) or (col==40 and row<=11) or (col==41 and row<=11) or (col==42 and row<=11) or (col==43 and row<=11) or (col==44 and row<=11) or (col==45 and row<=11) or (col==46 and row<=11) or (col==47 and row<=11) or (col==48 and row<=11) or (col==49 and row<=11) or (col==50 and row<=11) or (col==51 and row<=11) or (col==52 and row<=11) or
         (col==96 and row<=11) or (col==97 and row<=11) or (col==98 and row<=11) or (col==99 and row<=11) or (col==100 and row<=11) or (col==101 and row<=11) or (col==102 and row<=11) or (col==103 and row<=11) or (col==104 and row<=11) or (col==105 and row<=11) or (col==106 and row<=11) or (col==107 and row<=11) or (col==108 and row<=11) or (col==109 and row<=11) or (col==110 and row<=11) or (col==111 and row<=11) or (col==112 and row<=11) or (col==113 and row<=11) or (col==114 and row<=11) or (col==115 and row<=11) or (col==116 and row<=11) or (col==117 and row<=11) or (col==118 and row<=11) or (col==119 and row<=11) or (col==120 and row<=11) or
         
         (col==53 and row<=9) or (col==54 and row<=9) or (col==55 and row<=9) or
         (col==93 and row<=9) or (col==94 and row<=9) or (col==95 and row<=9)):
        print(" ",end="")
      else:
        print("*", end="")
    print()

  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                         *************************************                                          ***     *****
  *****     ***                                      *******************************************                                       ***     *****
  *****     ***                                      *******************************************                                       ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
  *****     ***              ********************************************************************************************              ***     *****
******************************************************************************************************************************************************
******************************************************************************************************************************************************

**Alphabet "S"**

In [ ]:
for row in range(7):
  for col in range(5):
    if(((row==0 or (row==3 or row==6)) and (col>0 and col<4)) or (col==0 and (row>0 and row<3)) or (col==4 and (row>3 and row<6))):
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*
*
 ***
    *
    *
 ***

**Alphabet "A"**

In [ ]:
for row in range(7):
  for col in range(5):
    if(((row==0 or row==3) and (col>0 and col<4)) or (col==0 and (row>0 and row<7)) or (col==4 and (row>0 and row<7))):
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

**Alphabet "Q"**

In [ ]:
for row in range(8):
  for col in range(5):
    if(((col==0 or col==4) and (row >0 and row <6)) or ((row==0 or row==6) and (col>0 and col<4)) or (row==5 and col==1) or (row==7 and col==3) ):
      print("*",end="")
    else:
      print(end=" ")
  print()

 ***
*   *
*   *
*   *
*   *
**  *
 ***
   *

**Alphabet "B"**

In [ ]:
for row in range(7):
  for col in range(5):
    if((col==0) or (col==4 and (row!=0 and row!=3 and row !=6)) or ((row==0 or row==3 or row==6) and (col>0 and col<4))):
      print("*",end="")
    else:
      print(end=" ")
  print()

****
*   *
*   *
****
*   *
*   *
****