<a href="https://colab.research.google.com/github/Hussainaquib/Python-Programs/blob/main/shine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [140]:
import warnings
warnings.filterwarnings("ignore")
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['font.size'] = 12

In [141]:
url = 'https://www.shine.com/job-search/jobs?job_type=2&top_companies_boost=true&sort=1'
response = requests.get(url)
response

In [142]:
soup = BeautifulSoup(response.text,'html.parser')
html = soup.find_all('div')

In [143]:
req = soup.select('div h2[itemprop="name"]')
titles = [r.text for r in req]

In [144]:
titles[:5]

['Telesales/telemarketing Executive',
 'Relationship Manager - RBG',
 'Relationship Manager',
 'Hindi Voice Process',
 'Key Accounts Manager']

In [145]:
titles1 = [t.replace("|","") for t in titles]
titles = [t.replace("  ", "") for t in titles1]

In [146]:
titles[:5]

['Telesales/telemarketing Executive',
 'Relationship Manager - RBG',
 'Relationship Manager',
 'Hindi Voice Process',
 'Key Accounts Manager']

In [147]:
orgs = soup.find_all('div', class_='jobCard_jobCard_cName__mYnow')
orgs1 = [o.text for o in orgs]

In [148]:
[o for o in orgs1][:5]

['MYZEON VENTURES PRIVATE LIMITED',
 'ICICI Bank Ltd',
 'ICICI Bank Ltd',
 'ISPL Support Services',
 'QRN Services']

In [149]:
sub_str = "Hiring"

In [150]:
[o.split(sub_str)[0] for o in orgs1][:5]

['MYZEON VENTURES PRIVATE LIMITED',
 'ICICI Bank Ltd',
 'ICICI Bank Ltd',
 'ISPL Support Services',
 'QRN Services']

In [151]:
companies = [o.split(sub_str)[0] for o in orgs1]

In [152]:
companies[:5]

['MYZEON VENTURES PRIVATE LIMITED',
 'ICICI Bank Ltd',
 'ICICI Bank Ltd',
 'ISPL Support Services',
 'QRN Services']

In [153]:
loc = soup.find_all('div', class_='jobCard_jobCard_lists__fdnsc')

In [154]:
[l.div.text for l in loc][:5]

['0 to 2 Yrs', '3 to 8 Yrs', '3 to 8 Yrs', '0 to 3 Yrs', '1 to 3 Yrs']

In [155]:
loc1 = [l.div.text for l in loc]

In [156]:
[l.replace("+", ",") for l in loc1][:5]

['0 to 2 Yrs', '3 to 8 Yrs', '3 to 8 Yrs', '0 to 3 Yrs', '1 to 3 Yrs']

In [157]:
loc2 = [l.replace("+", ",") for l in loc1]

In [158]:
pattern  = r'[0-9]'
strpattern = r'[a-z]'

In [159]:
[re.sub(pattern, '', l) for l in loc2][:5]

[' to  Yrs', ' to  Yrs', ' to  Yrs', ' to  Yrs', ' to  Yrs']

In [160]:
location = [re.sub(pattern, '', l) for l in loc2]

In [161]:
experience = [l.find_all('div')[-1].text for l in loc]

In [162]:
experience[:5]

['', '', '', '', '']

In [163]:
vacancies = soup.find_all('ul', class_='jobCard_jobCard_jobDetail__jD82J')

In [164]:
[v.text.split("Positions")[0] for v in vacancies ]

['Regular4 ',
 'Regular99 ',
 'Regular99 ',
 'Regular5 ',
 'Regular15 ',
 'Regular99 ',
 'Regular6 ',
 'Be an Early ApplicantRegular30 ',
 'Regular5 ',
 'Regular15 ',
 'Regular5 ',
 'Regular10 ',
 'Regular30 ',
 'Be an Early ApplicantRegular2 ',
 'Regular10 ',
 'Be an Early ApplicantRegular10 ',
 'Regular50 ',
 'Be an Early ApplicantRegular30 ',
 'Regular10 ',
 'Regular10 ']

In [165]:
[v.text.split("Positions")[0][-3:-1] for v in vacancies ]

['r4',
 '99',
 '99',
 'r5',
 '15',
 '99',
 'r6',
 '30',
 'r5',
 '15',
 'r5',
 '10',
 '30',
 'r2',
 '10',
 '10',
 '50',
 '30',
 '10',
 '10']

In [166]:
vac = [v.text.split("Positions")[0][-3:] for v in vacancies ]
vac = [v.replace('la', '1') for v in vac]
vac = [re.sub(strpattern, '', l) for l in vac]

In [167]:
vacancies= [v.replace(' ','') for v in vac]

In [168]:
vacancies[:5]

['4', '99', '99', '5', '15']

In [169]:
df = pd.DataFrame({'Titles':titles, 'Firm Name': companies, 'Job Location':location, 'Experience':experience,
                   'Positions': vacancies})

In [171]:
df.head()

,Titles,Firm Name,Job Location,Experience,Positions
0,Telesales/telemarketing Executive,MYZEON VENTURES PRIVATE LIMITED,to Yrs,,4
1,Relationship Manager - RBG,ICICI Bank Ltd,to Yrs,,99
2,Relationship Manager,ICICI Bank Ltd,to Yrs,,99
3,Hindi Voice Process,ISPL Support Services,to Yrs,,5
4,Key Accounts Manager,QRN Services,to Yrs,,15

In [172]:
df['Titles'].duplicated().sum()

1

In [173]:
df = df.drop_duplicates(subset=['Titles'])

In [174]:
df.head()

,Titles,Firm Name,Job Location,Experience,Positions
0,Telesales/telemarketing Executive,MYZEON VENTURES PRIVATE LIMITED,to Yrs,,4
1,Relationship Manager - RBG,ICICI Bank Ltd,to Yrs,,99
2,Relationship Manager,ICICI Bank Ltd,to Yrs,,99
3,Hindi Voice Process,ISPL Support Services,to Yrs,,5
4,Key Accounts Manager,QRN Services,to Yrs,,15

In [175]:
df['Positions'] = df['Positions'].astype('int32')
#Creating a New Column
numpattern = r'[0]'
df['Category'] = ['Fresher' if '0' in i else 'Experienced' for i in df['Experience']]

In [176]:
df.sort_values(by='Positions', ascending=False)

,Titles,Firm Name,Job Location,Experience,Positions,Category
2,Relationship Manager,ICICI Bank Ltd,to Yrs,,99,Experienced
5,"Relationship Manager- Retail/business banking,...",ICICI Bank Ltd,to Yrs,,99,Experienced
1,Relationship Manager - RBG,ICICI Bank Ltd,to Yrs,,99,Experienced
12,Admission Counsellor,TRAIDENT BRAINS PRIVATE LIMITED,to Yrs,,30,Experienced
17,Telecallers,TACTICIAL SERVICES PRIVATE LIMITED,to Yrs,,30,Experienced
7,Car sales Executives - RM,KALYANI MOTORS PRIVATE LIMITED.,to Yrs,,30,Experienced
9,Customer Relationship Executive,Epicenter Technologies Private Limi...,to Yr,,15,Experienced
4,Key Accounts Manager,QRN Services,to Yrs,,15,Experienced
18,Computer Operator,TRAIDENT BRAINS PRIVATE LIMITED,to Yr,,10,Experienced
15,Talent Acquisition,STEP Manpower Pvt Ltd,to Yrs,,10,Experienced
14,Business Development Specialist,www.tslmarketing.com,to Yrs,,10,Experienced
19,Field Sales Executive,Dezire HR Services,to Yrs,,10,Experienced
11,Team Leader,Epicenter Technologies Private Limi...,to Yrs,,10,Experienced
6,Immigration Counselor Hiring For Nehru Place (...,PRIMEX IMMIGRATION LLP,to Yrs,,6,Experienced
10,Business Development Executive,JANARDAN FARMS AND RESORTS LLP,to Yrs,Udaipur,5,Experienced
8,Sales Executive,JANARDAN FARMS AND RESORTS LLP,to Yrs,,5,Experienced
3,Hindi Voice Process,ISPL Support Services,to Yrs,,5,Experienced
0,Telesales/telemarketing Executive,MYZEON VENTURES PRIVATE LIMITED,to Yrs,,4,Experienced
13,Legal Executive,JANARDAN FARMS AND RESORTS LLP,to Yrs,,2,Experienced

In [177]:
df.head()

,Titles,Firm Name,Job Location,Experience,Positions,Category
0,Telesales/telemarketing Executive,MYZEON VENTURES PRIVATE LIMITED,to Yrs,,4,Experienced
1,Relationship Manager - RBG,ICICI Bank Ltd,to Yrs,,99,Experienced
2,Relationship Manager,ICICI Bank Ltd,to Yrs,,99,Experienced
3,Hindi Voice Process,ISPL Support Services,to Yrs,,5,Experienced
4,Key Accounts Manager,QRN Services,to Yrs,,15,Experienced

In [178]:
df.to_csv('my_data.csv', index=False)